
h1
{
	border:2px solid red;
    text-align:center;
	color:red;
	font-family:Cursive,Arial;
	font-size:30px;
}
img
{
	width:450px;
	height:300px;
	margin:auto;
	text-align:center;
}
input
{
	font-family:Times,Verdana;
	text-align:center;
	background-color:cyan;
	color:red;
	font-size:20px;
}
body
{
	text-align: center;
	background-color:#add8e6;
}
span
{
	font-weight:bold;
	color:#0064ab;
}